@font-face {
  font-family: 'League Gothic';
  src: url('../fonts/LeagueGothic-Regular.woff2') format('woff2'),
      url('../fonts/LeagueGothic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AgencyFB';
  src: url('../fonts/AgencyFB-Bold.woff2') format('woff2'),
      url('../fonts/AgencyFB-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
