@import "./helpers.scss";
@import "./variables.scss";
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: auto;
    overflow-x: hidden !important;
    background: $cBackground70;
    color: $cNeutral00;
    @include bp(phone-large) {
        background: $cBackground60;
    }
}

.custom-container {
    max-width: calc(100% - 40px);
    margin-inline: auto;
    @media screen and (min-width: 820px) {
        max-width: 700px;
        width: 100%;
    }
    @media screen and (min-width: 1024px) {
        max-width: 900px;
    }
    @media screen and (min-width: 1366px) {
        max-width: 1120px;
    }
}

.muted-sound-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    &.hide {
        z-index: -1;
        user-select: none;
    }
}

.landing-content {
    position: relative;
    background-color: $cBackground70;
    padding-bottom: 40px;
    @include bp(phone-large) {
        padding-inline: 20px;
        margin-top: -120px;
        padding-bottom: 80px;
    }
    @include bp(tablet) {
        padding-inline: 40px;
        padding-bottom: 100px;
    }
    @include bp(desktop) {
        margin-top: -260px;
    }
}

.banners {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    pointer-events: none;
    @include bp(tablet) {
        display: block;
    }
}

.banner-left,
.banner-right {
    position: absolute;
    width: 250px;
    height: 100%;
    background-repeat: repeat-y;
    background-size: 100% auto;
}

.banner-left {
    left: -250px;
    background-image: url("../images/banner-left.jpg");
}

.banner-right {
    right: -250px;
    background-image: url("../images/banner-right.jpg");
}

.hero {
    position: relative;
    width: 100vw;
    height: auto;
}

.hero-background {
    width: 100%;
    display: block;
    object-fit: contain;
}

.hero-gradient {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 58px;
    background: linear-gradient(180deg, rgba(47, 47, 47, 0) 0%, #1e1e1e 100%);
}

.swiper-wrapper {
    padding-bottom: 10px;
    @include bp(desktop) {
        padding-bottom: 20px;
    }
}

.swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(10px);
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: $cNeutral00;
}

.swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    background-color: $cPrimary;
    margin-top: 1px;
}

.share {
    display: flex;
    align-items: center;
    justify-content: center;
}

.share-message {
    margin-right: 10px;
    @include bp(tablet) {
        margin-right: 20px;
    }
    &__icon {
        width: 20px;
        height: 20px;
    }
    &__text {
        font-size: 14px;
        display: block;
        font-family: "League Gothic";
        text-align: right;
        @include bp(phone-large) {
            font-size: 26px;
        }
        .br {
            display: block;
            @include bp(phone-large) {
                display: inline;
            }
        }
    }
}

.share-items {
    display: flex;
    align-items: center;
}

.share-item {
    text-align: center;
    margin-inline: 6px;
    cursor: pointer;
    transition: all .3s;
    &:hover {
        color: $cPrimary;
    }
    &__icon {
        display: block;
        margin-inline: auto;
        width: 12px;
        height: 12px;
        object-fit: contain;
        @include bp(phone-large) {
            width: 20px;
            height: 20px;
            margin-bottom: 4px;
        }
    }
    &__text {
        font-family: "AgencyFB";
        font-size: 12px;
        @include bp(phone-large) {
            font-size: 20px;
        }
    }
}

.share-highlight {
    position: relative;
    display: inline-flex;
    background-color: $cPrimary;
    padding: 4px;
    left: 50%;
    transform: translate(-50%, -12px);
    border-radius: 4px;
    z-index: 2;
    .share-item {
        background-color: $cBackground70;
        margin-inline: 0;
        padding: 8px;
        @include bp(phone-large) {
            padding: 10px 12px;
        }
        &__text {
            @include bp(phone-large) {
                letter-spacing: 0.8px;
            }
        }
    }
    .share-message {
        display: flex;
        align-items: center;
        margin-right: 50px;
        @include bp(desktop) {
            margin-right: 100px;
        }
        &__icon {
            margin-right: 10px;
        }
        &__text {
            font-size: 14px;
            width: auto;
            text-align: left;
            color: $cBackground100;
            font-family: "League Gothic";
            font-style: normal;
            @include bp(phone-large) {
                font-size: 24px;
            }
            @include bp(tablet) {
                font-size: 36px;
                margin-bottom: -6px;
            }
        }
    }
}

.intro-head {
    position: relative;
    z-index: 1;
}

.intro-title {
    font-size: 24px;
    text-transform: uppercase;
    font-family: "League Gothic";
    text-align: center;
    display: block;
    color: $cPrimary;
    padding-top: 36px;
    margin-bottom: 4px;
    @include bp(phone-large) {
        font-size: 36px;
    }
    @include bp(tablet) {
        padding-top: 60px;
    }
    @include bp(tablet) {
        font-size: 64px;
    }
}

.intro-subtitle {
    font-size: 18px;
    text-transform: uppercase;
    font-family: "League Gothic";
    text-align: center;
    display: block;
    color: $cNeutral00;
    margin-bottom: 20px;
    @include bp(phone-large) {
        font-size: 26px;
    }
}

.intro-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.intro-ghost-title {
    position: absolute;
    font-size: 40px;
    text-transform: uppercase;
    font-family: "League Gothic";
    bottom: 14px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    color: $cBackground70;
    text-shadow: 0px 0px 1px $cPrimary;
    opacity: 0.2;
    @include bp(phone-large) {
        font-size: 4.2em;
    }
    @include bp(tablet) {
        font-size: 4.8em;
    }
    @include bp(desktop) {
        font-size: 9em;
        bottom: -55px;
        width: 100%;
        text-align: center;
    }
}

.intro-player {
    position: relative;
    width: 280px;
    height: 170px;
    @media screen and (min-width: 380px) {
        width: 350px;
        height: 220px;
    }
    @include bp(phone-large) {
        width: 550px;
        height: 320px;
    }
    @include bp(tablet) {
        width: 640px;
        height: 360px;
    }
    @include bp(desktop) {
        width: 720px;
        height: 420px;
    }
    @include bp(desktop-up) {
        width: 940px;
        height: 540px;
    }
    &__video {
        position: relative;
        z-index: 0;
    }
}

.intro-shape-stamp {
    position: absolute;
    width: 45px;
    object-fit: contain;
    right: -40px;
    top: 15px;
    z-index: 2;
    @include bp(tablet) {
        width: 80px;
        right: -60px;
    }
    @include bp(desktop-up) {
        width: 134px;
        right: -90px;
    }
}

.intro-shape-visa {
    position: absolute;
    width: 80px;
    object-fit: contain;
    left: -40px;
    bottom: -15px;
    z-index: 0;
    @include bp(tablet) {
        width: 120px;
        left: -60px;
        bottom: -20px;
    }
    @include bp(desktop-up) {
        width: 240px;
        left: -100px;
        bottom: -50px;
    }
}

.intro-buttons {
    text-align: center;
    margin-top: 12px;
}

.intro-button {
    padding: 4px 6px;
    background-color: $cPrimary;
    border: none;
    outline: none;
    border-radius: 3px;
    transition: all .3s;
    &:disabled {
        background-color: #cccccc;
        .button-text {
            color: #818181;
        }
    }
    @include bp(phone-large) {
        display: inline-flex;
        align-items: center;
    }
    &.national-day {
        transform: rotate(-1.09deg);
    }
    &.like {
        transform: rotate(2.13deg) translateY(8px);
    }
    &:hover {
        transform: rotate(0);
    }
}

.button-icon {
    width: 14px;
    height: 14px;
    object-fit: contain;
    @include bp(phone-large) {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }
}

.button-text {
    font-family: "League Gothic";
    font-size: 16px;
    text-transform: uppercase;
    @include bp(phone-large) {
        font-size: 30px;
        margin-right: 8px;
    }
}

.button-number {
    font-family: "AgencyFB";
    font-size: 14px;
    padding-inline: 4px;
    border-left: 1px solid rgba($cBackground100, 0.15);
    @include bp(phone-large) {
        font-size: 22px;
        padding-left: 8px;
    }
}

.theme-songs {
    position: relative;
    @include bp(desktop) {
        width: calc(100% - 100px);
        margin-left: 50px;
    }
}

.theme-song {
    &__head {
        position: relative;
        z-index: 0;
    }
    &__content {
        z-index: 1;
        position: relative;
    }
    &__title {
        position: relative;
        font-size: 24px;
        text-transform: uppercase;
        font-family: "League Gothic";
        text-align: center;
        display: block;
        color: $cPrimary;
        padding-top: 46px;
        margin-bottom: 4px;
        z-index: 1;
        @include bp(phone-large) {
            font-size: 36px;
            padding-top: 80px;
        }
        @include bp(desktop) {
            font-size: 48px;
            padding-top: 140px;
        }
        @include bp(desktop-up) {
            font-size: 64px;
        }
    }
    &__title-ghost {
        position: absolute;
        font-size: 40px;
        text-transform: uppercase;
        font-family: "League Gothic";
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
        color: #19191a;
        text-shadow: 0px 0px 1px #ffbe21;
        opacity: 0.2;
        @include bp(phone-large) {
            font-size: 5.5em;
            bottom: -30px;
            opacity: 0.15;
        }
        @include bp(desktop) {
            font-size: 6.4em;
            bottom: -20px;
        }
    }
    &__media {
        position: relative;
        width: calc(100% + 40px);
        margin-left: -20px;
        z-index: 1;
        @include bp(tablet) {
            width: calc(100% + 80px);
            margin-left: -40px;
        }
        img {
            width: 100%;
        }
    }
}

.theme-song-list__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include bp(phone-large) {
        flex-direction: inherit;
    }
}

.theme-song-list-section {
    margin-top: 38px;
    @include bp(tablet) {
        margin-top: 80px;
    }
    @include bp(desktop) {
        margin-top: 100px;
    }
}

.theme-song-list {
    &__head {
        margin-bottom: 15px;
    }
    &__title {
        font-family: "League Gothic";
        font-size: 24px;
        text-transform: uppercase;
        color: $cPrimary;
        margin-bottom: 8px;
        @include bp(phone-large) {
            font-size: 28px;
            margin-bottom: 0;
            text-align: left;
        }
        @include bp(desktop) {
            font-size: 42px;
        }
    }
    &__subtitle {
        font-family: "League Gothic";
        font-size: 14px;
        max-width: 160px;
        text-transform: uppercase;
        color: $cNeutral00;
        @include bp(phone-large) {
            font-size: 20px;
            text-align: left;
            max-width: 180px;
            margin-left: 12px;
        }
        @include bp(desktop) {
            font-size: 26px;
            max-width: 190px;
        }
    }
}

.theme-song-item {
    margin-bottom: 16px;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
    img {
        width: 100%;
        object-fit: contain;
    }
}

.theme-song-slider-buttons {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: space-between;
    left: -50px;
    top: calc(50% - 18px);
    width: calc(100% + 100px);
    transform: translateY(-50%);
    user-select: none;
    @include bp(desktop) {
        display: flex;
    }
}

.theme-song-slider-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 165px;
    border-radius: 4px;
    background-color: $cBackground10;
    cursor: pointer;
    &__icon {
        width: 24px;
        height: 24px;
        object-fit: contain;
    }
}

.upload-block {
    margin-top: 38px;
    @include bp(tablet) {
        margin-top: 60px;
    }
    @include bp(desktop) {
        margin-top: 120px;
    }
}

.upload-block {
    &__head {
        margin-bottom: 12px;
    }
    &__title {
        font-size: 24px;
        max-width: 160px;
        line-height: 1.2;
        color: $cPrimary;
        font-family: "League Gothic";
        font-style: normal;
        @include bp(phone-large) {
            font-size: 36px;
            max-width: 190px;
        }
        @include bp(tablet) {
            font-size: 42px;
            max-width: 220px;
        }
    }
}

.upload-card-content {
    position: relative;
    width: 100%;
    margin-top: -25px;
    background: linear-gradient(112deg, #505050 6%, #1e1e1e 96%);
    z-index: 0;
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 20px);
        height: calc(100% - 25px);
        background-color: transparent;
        border: 1px solid $cPrimary;
        z-index: 0;
        user-select: none;
        pointer-events: none;
        @include bp(desktop) {
            display: none;
        }
    }
    @include bp(desktop) {
        width: calc(100% - 300px);
        margin-top: 0;
    }
    @media screen and (min-width: 1366px) {
        width: calc(100% - 360px);
    }
}

.upload-card-inside {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-inline: 24px;
    @include bp(phone-large) {
        padding-left: 24px;
        padding-right: 36px;
    }
    @include bp(tablet) {
        padding-left: 50px;
        padding-right: 65px;
    }
    @include bp(desktop) {
        width: 380px;
        padding-left: 40px;
        padding-right: 0px;
    }
    @media screen and (min-width: 1366px) {
        width: 520px;
    }
}

.upload-card {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include bp(desktop) {
        flex-direction: row;
    }
    &:before {
        display: none;
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 30px);
        height: calc(100% - 55px);
        background-color: transparent;
        border: 1px solid $cPrimary;
        z-index: 2;
        user-select: none;
        pointer-events: none;
        @include bp(desktop) {
            display: block;
        }
    }
    &__image {
        width: 100%;
        object-fit: contain;
        z-index: 1;
        &.desktop {
            display: none;
            @include bp(desktop) {
                display: block;
            }
        }
        &.mobile {
            display: block;
            @include bp(desktop) {
                display: none;
            }
        }
        @include bp(desktop) {
            width: 300px;
        }
        @media screen and (min-width: 1366px) {
            width: 360px;
        }
    }
    &__rule {
        font-size: 12px;
        margin-bottom: 6px;
        font-family: "AgencyFB";
        font-style: normal;
        list-style-type: square;
        margin-left: 12px;
        @include bp(phone-large) {
            font-size: 21px;
            margin-bottom: 10px;
        }
        @include bp(desktop-up) {
            font-size: 24px;
            margin-bottom: 16px;
        }
    }
    &__rule-message {
        font-size: 14px;
        margin-bottom: 12px;
        font-family: "AgencyFB";
        font-style: normal;
        line-height: 1.3;
        @include bp(phone-large) {
            font-size: 16px;
        }
        @media screen and (min-width: 1366px) {
            font-size: 21px;
        }
    }
}

.upload-card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 40px;
    margin-bottom: 20px;
    @media screen and (min-width: 370px) {
        width: calc(100% - 60px);
        margin-left: 30px;
    }
    @include bp(tablet) {
        padding-top: 50px;
    }
    @include bp(desktop) {
        padding-top: 50px;
        margin-bottom: 32px;
    }
    &__element {
        align-items: center;
        @include bp(phone-large) {
            display: block;
        }
    }
    &__icon {
        display: block;
        margin-inline: auto;
        width: 21px;
        height: 21px;
        object-fit: contain;
        margin-bottom: 8px;
        @include bp(desktop-up) {
            width: 32px;
            height: 32px;
        }
    }
    &__text {
        font-family: "AgencyFB";
        font-size: 14px;
        @include bp(desktop-up) {
            font-size: 22px;
        }
    }
}

.button-upload {
    width: 100%;
    margin-top: auto;
    margin-bottom: 30px;
    padding: 10px 12px;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: $cPrimary;
    font-family: "AgencyFB";
    text-transform: uppercase;
    z-index: 2;
    @include bp(phone-large) {
        font-size: 18px;
        padding: 12px 16px;
    }
    @include bp(desktop) {
        font-size: 24px;
        padding: 20px 16px;
    }
    @include bp(desktop-up) {
        font-size: 32px;
        padding: 24px 16px;
        margin-top: 24px;
    }
}

.activity-section {
    margin-top: 30px;
}

.activity-content {
    position: relative;
    margin-top: 12px;
    width: calc(100% + 40px);
    margin-left: -20px;
    overflow: hidden;
}

.activity-title {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: $cPrimary;
    padding-top: 36px;
    margin-bottom: 4px;
    font-family: "League Gothic";
    font-style: normal;
    @include bp(phone-large) {
        font-size: 42px;
    }
    @include bp(tablet) {
        padding-top: 60px;
    }
    @include bp(desktop) {
        padding-top: 90px;
    }
}

.activity-element {
    opacity: 0;
    width: 125px;
    cursor: pointer;
    pointer-events: none;
    transition: all 0.3s;
    &.scale {
        img {
            position: fixed;
        }
    }
    &__description {
        font-family: "AgencyFB";
        font-size: 12px;
        margin-top: 8px;
        transition: opacity 0.2s;
        @include bp(tablet) {
            font-size: 16px;
        }
        @include bp(desktop) {
            font-size: 18px;
        }
        @media screen and (min-width: 1366px) {
            font-size: 20px;
        }
    }
    &__image {
        width: 100%;
        height: auto;
        object-fit: contain;
        border-radius: 5px;
        filter: drop-shadow(0px 8px 32px rgba(0, 0, 0, 0.6));
        @include bp(phone-large) {
            border-radius: 8px;
        }
        @include bp(tablet) {
            border-radius: 16px;
        }
    }
    &.swiper-slide-active {
        filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.6));
    }
    &.swiper-slide-prev,
    &.swiper-slide-next,
    &.swiper-slide-active {
        opacity: 1;
        pointer-events: auto;
    }
    &.swiper-slide-prev,
    &.swiper-slide-next {
        opacity: 0.2;
        .activity-element__description {
            opacity: 0;
        }
    }
}

.activity-slider-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.activity-slider-button-next,
.activity-slider-button-prev {
    cursor: pointer;
    @include bp(phone-large) {
        width: 26px;
        height: 26px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.view-content {
    display: flex;
    margin-top: 30px;
    @include bp(phone-large) {
        margin-top: 60px;
    }
    @include bp(tablet) {
        margin-top: 90px;
    }
    @include bp(desktop) {
        margin-top: 150px;
    }
}

.view-image {
    width: 50%;
    object-fit: contain;
    border-radius: 3px;
    filter: drop-shadow(0px 8px 32px rgba(0, 0, 0, 0.6));
    @include bp(phone-large) {
        border-radius: 8px;
    }
    @include bp(tablet) {
        border-radius: 16px;
    }
}

.view-text {
    width: 50%;
    padding-left: 18px;
    @include bp(phone-large) {
        padding-left: 38px;
        width: 200px;
    }
    @include bp(tablet) {
        width: 220px;
    }
}

.view-title {
    font-size: 20px;
    color: $cPrimary;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-family: "League Gothic";
    font-style: normal;
    @include bp(phone-large) {
        font-size: 38px;
    }
}

.view-description {
    font-family: "AgencyFB";
    font-size: 12px;
    @include bp(tablet) {
        font-size: 18px;
    }
    @include bp(desktop) {
        font-size: 20px;
    }
    @media screen and (min-width: 1366px) {
        font-size: 22px;
    }
}

.page-loader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #020101;
    z-index: 22;
    &__image {
        max-width: 357px;
        max-height: 501px;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.sound-control {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 70px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #424242;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    transform: scale(1);
    transition: all .3s;
    cursor: pointer;
    z-index: 10;
    &:hover {
        transform: scale(1.1);
    }
    .volume-open {
        display: none;
    }
    .volume-off {
        display: inline-block;
    }
    &.paused {
        .volume-open {
            display: inline-block;
        }
        .volume-off {
            display: none;
        }
    }
}