/** @group colors */

// Neutral
$cNeutral10: #D9D9D9;
$cNeutral00: #FFFFFF;
// Background
$cBackground100: #000000;
$cBackground90: #101010;
$cBackground70: #19191A;
$cBackground60: #1E1E1E;
$cBackground50: #232323;
$cBackground40: #292929;
$cBackground30: #2F2F2F;
$cBackground20: #313131;
$cBackground10: #414141;
$cBackground00: #505050;
// Primary
$cPrimary: #FFBE21;
