@import '../variables.scss';
.footer {
    background-color: $cBackground50;
}

.footer-container {
    padding: 5px 10px;
}

.footer-content {
    width: 100%;
    object-fit: contain;
    margin-inline: auto;
    display: block;
    @include bp(phone-large) {
        max-width: calc(100% - 40px);
    }
    @media screen and (min-width: 820px) {
        max-width: 700px;
    }
    @media screen and (min-width: 1024px) {
        max-width: 900px;
    }
    @media screen and (min-width: 1366px) {
        max-width: 1120px;
    }
}